<table border="1">
    <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>unitsInStack</th>
        </tr>
    </thead>
    <tbody>
        
        <tr *ngFor="let book of books">
            <td>
                <img src={{book.imageUrl}} height="100" width="100"/>
            </td>
            <td>{{book.name}}</td>
            <td>{{book.description}}</td>
            <td>{{book.unitPrice |currency:"KM "}}</td>
            <td>{{book.unitsInStack}}</td>
        </tr>
    </tbody>

</table>